<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/850256899c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <div class=contenedor> <input class = barra-busqueda type="text" placeholder="Busca productos, marcas">
                <span class=search><i class="fas fa-search"></i></span></div>         
            <h2 class=copia-header>
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjetas de crédito</h2>
        </div>

        <a href="" class=hamburguer-button>
            <i class="fas fa-bars"></i>
        </a>
       
        <nav class="main-header-bottom-bar">
            <ul class=left-nav>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class=right-nav>
                <li><a href="/creaTuCuenta">Creá tu cuenta <i class="far fa-address-card"></i></a></a></li>
                <li><a href="/ingresa"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#"> Mis compras <i class="fas fa-shopping-basket"></i></a></a></li>
            </ul>
        </nav>

        <img class= banner src= "/images/img-home-banner.jpg">
    
    </header>

<section class=formulario>
    <form action="/" method="post">
    <input type="text" name="username" placeholder="Nombre de usuario" required minlength="2">
    <br>
    <input type="password" name="password" placeholder="Contraseña" required>  
    <br>
    <button type="submit" href="/home" > Enviar </button>
    </form>
</section>

</body>
</html>
