*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-header{
    background-color: #EAC926;
    padding: 20px;
}

.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contenedor{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.logo{
    display: inline-block;
    width: 150px;
    margin-left: 0px;
}



.barra-busqueda {  
    display: inline;
    font-size: 20px;
    margin: 5px;
    width: 100%;
    text-align: center;
}

.search {
    font-size: 100%;
    height: 100%;
    border: 1px solid black;
    color: gray;
    background-color: white;
    padding: 5px;
    
}


.copia-header{
    font-weight: 400;
    text-align: center;
    height: 50%;
    font-weight: 600;
}

.hamburguer-button{
    display: block;
    background-color: #03264C;
    color:#ffffff;
    text-align: center;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    margin:auto;   
    font-size: 18px;
}

.main-header-bottom-bar{
    display: none;
}

.main-header-bottom-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header-bottom-bar a {
text-decoration: none;
color: #222222;
display: inline-block;
padding: 5px 0;
font-size: 18px;
}

.banner {
    width: 100%;
    margin-top: 15px;
}

.right-nav {
    margin-right: 0;
}


.titulares {
    margin-left: 10px;
    color:#666;
}

li {
    font-size: 50%;
    color: #000000;
    text-decoration: none;
}

i{
    font-size: 1em;
    margin-bottom: 10px;
}


article {
font-size: medium;
display: inline;
text-align: center;
line-height: 100%;
margin: 30px 10px;
width: 90%;
background-color: rgb(255, 255, 255);
border-radius: 2%;
background-position: center;
}

.detalle_articulo {
display: inline-block;
width: 100%;
text-align: center;
border-top: 1px solid #ebebeb;
padding: 15px;
}

.imagen {
        display: inline-block;
        width: 100%;
        position: relative;
        height: auto;
        margin: auto;
        background-size: cover;

    }

    main section article i{
        display: block;
        font-size: 16px;
        color: #39b54a;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        position: relative;
        left: 50px;
        bottom: 15px;
        border-radius: 50%;
    }

.card:hover i {
    transform: rotate(270deg);
}

.precio-oferta {
    display: flex;
    justify-content: space-evenly;
}

.price {
    margin-right: 15px;
    width: 30%;
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
}

.off {
    margin-left: 0px;
    width: 70%;
    text-align: left;
    color: rgb(8, 143, 8);
    font-size: 16px;
    font-weight: lighter;
    align-self: center;
}

.nombre-producto {
    display: none;
    text-align: left;
    font-size: 18px;
    color: rgb(153, 149, 149);
    transition: display 450ms;
}

.nombre-producto:hover {
    display: flex;
}

.description {
        display: none;
        text-align: left;
        font-size: 18px;
        color: rgb(153, 149, 149);
}

.card:hover .description {
    display:block;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    background-color: rgb(231, 223, 223);    
    margin: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: center;
    width: 100%;
    align-items: center;
    font-size: 24px;
    background-color: rgb(231, 223, 223);    
    margin-left: 0px;
}

footer{
    width: 100%;
    text-align: center;
}

.icono-footer {
    color:blue;
    font-size: 2em;
    margin-bottom: 10px;
}

.formulario form {
    text-align: center;
    margin: 2px
}

.formulario h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

button {
    padding:10px;
    margin-top: 10px;
    color: black;
    border-radius: 15%;
    transition: all 450ms;
}

button:hover {
    background-color: #0022AA;
    color: white;
}

input {
    text-align: center;
    border: 1px black solid;
    align-content: center;
    margin: 0;
}


@media (min-width: 768px) {
    .main-header-top-bar{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .copia-header {
        max-width: 370px;
        text-align: center;
        font-weight: 600;
    }

    .logo{
        width: 300px
    }

    .slogan {
        display: inline-block;
        text-align: center;

    }

    .contenedor {
        display: flex;
        justify-content: flex-end;
    }

    .barra-busqueda {  
        margin-left: 30px;
        margin-right: 10px;
        width: 70%;
        padding: 10px;
    }
    
    .search {
        display: inline-block;
        text-align: center;
        align-self: center;
        font-size: 100%;
        height: 100%;
        border: 1px solid black;
        color: gray;
        background-color: white;
        padding: 3px 5px;
        border-radius: 10%;
    }

    .hamburguer-button {
        display:none;
    }

    .main-header-bottom-bar {
        display: flex;
        justify-content: space-between;
    }

    .main-header-bottom-bar ul {
        display: flex;
    }

    .main-header-bottom-bar li {
        margin: 0 5px;
    }

    .titulares {
        text-align: left;
        font-size: 24px;
        margin:15px;
        font-weight: 500;
        font-size: 24px;
        color: #666
    }

    section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    article {
        margin: 30px 10px;
        display: flex;
        width: 45%;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: all 1000ms

    }

    article:hover {
    box-shadow: 6px 6px 4px rgb(131, 126, 126);;
    }
}

@media (min-width:1200px){
    .main-header-bottom-bar {
        max-width: 1200px;
        margin-top: 40px;
        margin-bottom: 00px;
    }

    .logo {
        width:250px;
    }

    .copia-header {
        max-width: none;
        height: 50%;
        font-size: 24px;
        font-weight: 600;
        align-items: center;
    }

    .barra-busqueda {  
        margin-left: 30px;
        width: 70%;
    }
    
    .search {
        display: inline-block;
        text-align: center;
        font-size: 100%;
        height: auto;
        border: 1px solid black;
        color: gray;
        background-color: white;
        padding: 5px;
        border-radius: 10%;
    }

    .main-header-bottom-bar li {
        margin: 20px 10px;
    }

    .main-header-bottom-bar a {
        font-size: 18px;
    }

    .titulares {
        text-align: left;
        font-size: 2rem;
        font-weight: 500;
        margin:15px;
        color: #666;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    article {
            margin: 30px 10px;
            display: flex;
            width: 20%;
            flex-wrap: wrap;
        }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;
    }
}

